[defaults]
inventory = /home/ec2-user/ansible-lemp/inventory
remote_user = ec2-user
ask_pass = false

[privilege_escalation]
become = true
become_user = root
become_method = sudo
become_ask_pass = false

